<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header id="header">
      <div class="wrap">
        <h1 class="site_title">
          <a class="site_title__link" href="{{ '/' | relative_url }}">
            {{ site.title }}
          </a>
        </h1>
        <p class="site_title__description">
          {{ site.description }}
        </p>
      </div>
    </header>
    <main id="main">
      <div class="wrap">
        <section id="main_contents">
          {{ content }}
        </section>
      </div>
    </main>
    <footer id="footer">
      <div class="wrap">
        <small class="copyright">
          (C) {% if site.since %}{{ site.since }} - {% endif %}{{ site.author }}.
        </small>
      </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2QFR6LXEZM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
  </body>
</html>
